.App {
  text-align: center;
  background-color: #f6f6f6;
  overflow: hidden;
  height: 100vh;
  padding: 20px;
}

.App h1 {
  margin-top: 0;
  padding-top: 2em;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container ul {
  padding-left: 0;
}

.post-card {
  background-color: white;
  border: none;
  -webkit-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.50);
  box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.50);
  border-radius: 8px;
  width: 100%;
  padding: 10px 20px;
  margin: 10px auto;
}

.post-detail {
  background-color: rgb(215, 248, 232);
  border: none;
  -webkit-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.50);
  box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.50);
  border-radius: 8px;
  width: 40%;
  margin: 5em auto;
  padding: 30px;
}

@media all and (min-width: 768px) {
  .container {
    justify-content: space-around;
  }

  .post-card {
    width: 25%;
  }
}
