.App {
  text-align: center;
  overflow: hidden;
  height: 100vh;
  padding: 20px;
}

.App h1 {
  margin-top: 0;
  padding-top: 2em;
  text-align: center;
}

.App form {
  margin: 2em auto;
  padding: 40px;
  height: 100%;
}

.App form .form-control{
  margin: 20px auto;
}

.App form input{
  padding: 5px;
  margin: 0 10px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(59, 73, 73);
  color: #f6f6f6;
}

.nav ul {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  height: 90vh;
}

.container ul {
  padding-left: 0;
}

.post-card {
  background-color: white;
  border: none;
  -webkit-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.50);
  box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.50);
  border-radius: 8px;
  width: 100%;
  height: fit-content;
  padding: 10px 20px;
  margin: 5em auto;
}

.post-detail {
  background-color: rgb(215, 248, 232);
  border: none;
  -webkit-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.50);
  box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.50);
  border-radius: 8px;
  width: 40%;
  margin: 5em auto;
  padding: 30px;
}

.post-detail a,
.post-card a {
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  color: rgb(59, 73, 73);;
}

.post-detail h3 {
  font-size: 20px;
}

.post-detail .back-link {
  background-color: rgb(59, 73, 73);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 3em;
}

@media all and (min-width: 768px) {
  .container {
    justify-content: space-around;
  }

  .post-card {
    width: 25%;
  }
}
